---
import { CodeExport } from "./CodeExport";
import type { Palette } from "../lib/types";

interface Props {
  palette: Palette;
}

const { palette } = Astro.props;
---

<section class="sp-panel sp-lift border-[#dadcd6] bg-[rgb(251_249_242_/_0.78)] p-6 sm:p-8">
  <CodeExport palette={palette} client:visible />
</section>
